<h2><%= @tip.name %></h2>
<p><b>What is it?: </b><%= @tip.type_of_place %></p>
<p><b>Description: </b><%= @tip.description %></p>

<form action="/tips/<%= @tip.id%>/edit" method="get">


  <input type="submit" value="Edit"/>
</form>

<form action="/tips/<%= @tip.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete" />
</form>	